.comm-det-desc {
    &__hd {
        font-size: fs(lg);
        font-weight: bold;
        color: clr(c---dark-blue);
        border-bottom: 1px solid clr(c---light-gray);
        padding-bottom: space(sm);
        &_emphasis {
            padding-bottom: space(sm);
            border-bottom: 2px solid clr(c---dark-blue);
        }
    }
}

.comm-det-rct {
    &__btn {
        color: clr(c---white);
        border: none;
        border-radius: 0.25rem;
        padding: space(sm) space(base);
        &_disabled {
            background-color: lighten(clr(c---bg--dark-blue), 15%);
        }
        &_active {
            background-color: clr(c---bg--dark-blue);
            &:hover {
                background-color: darken(clr(c---bg--dark-blue), 15%);
            }
        }
    }
}

.created-user {
    &__hd {
        font-size: fs(lg);
        font-weight: bold;
        color: clr(c---dark-blue);
        border-bottom: 1px solid clr(c---light-gray);
        padding-bottom: space(sm);
        &_emphasis {
            padding-bottom: space(sm);
            border-bottom: 2px solid clr(c---dark-blue);
        }
    }
    &-card {
        border: 1px solid clr(c---light-gray);
        background-color: clr(c---bg--dark-gray);
        padding: space(sm);
        margin-bottom: space(lg);
        overflow: hidden;
        &__link {
            text-decoration: none;
            color: clr(c---black);
        }
        &__img {
            border: 2px solid clr(c---white);
            &--outer {
                float: left;
                @include mq('xxs') {
                    flex-shrink: 0;
                }
            }
        }
    }
}

.applied-user-tb {
    width: 100%;
    &__hd {
        color: clr(c---white);
        background: clr(c---bg--dark-blue);
    }
    &__bd {
        > .applied-user-tb__tr {
            &:hover {
                background-color: clr(c---bg--dark-gray);
            }
        }
    }
    &__thc {
        font-weight: normal;
        padding: space(xs);
        text-align: center;
        border: 1px solid clr(c---bg--dark-blue);
    }
    &__td {
        padding: space(xs);
        border-bottom: 1px solid clr(c---dark-gray);
        line-height: 31px;
    }
    &__img {
        width: 30px;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-right: space(sm);
    }
}
