$marginSizeList: no, xs, sm, base, lg, xl, xxl;
$breakpointList: xs, sm, md, lg;

// レスポンシブ対応なし、marginスタイル設定
@each $size in $marginSizeList {
    .u-mt-#{$size} {
        margin-top: space(#{$size});
    }
    .u-mb-#{$size} {
        margin-bottom: space(#{$size});
    }
    .u-mr-#{$size} {
        margin-right: space(#{$size});
    }
    .u-ml-#{$size} {
        margin-left: space(#{$size});
    }
    .u-my-#{$size} {
        margin: {
            top: space(#{$size});
            bottom: space(#{$size});
        }
    }
    .u-mx-#{$size} {
        margin: {
            right: space(#{$size});
            left: space(#{$size});
        }
    }
    .u-m-#{$size} {
        margin: space(#{$size});
    }
}

// レスポンシブ対応あり、marginスタイル設定
@each $size in $marginSizeList {
    @each $breakpoint in $breakpointList {
        .u-#{$breakpoint}-mt-#{$size} {
            @include mq(#{$breakpoint}) {
                margin-top: space(#{$size});
            }
        }
        .u-#{$breakpoint}-mb-#{$size} {
            @include mq(#{$breakpoint}) {
                margin-bottom: space(#{$size});
            }
        }
        .u-#{$breakpoint}-mr-#{$size} {
            @include mq(#{$breakpoint}) {
                margin-right: space(#{$size});
            }
        }
        .u-#{$breakpoint}-ml-#{$size} {
            @include mq(#{$breakpoint}) {
                margin-left: space(#{$size});
            }
        }
        .u-#{$breakpoint}-my-#{$size} {
            @include mq(#{$breakpoint}) {
                margin: {
                    top: space(#{$size});
                    bottom: space(#{$size});
                }
            }
        }
        .u-#{$breakpoint}-mx-#{$size} {
            @include mq(#{$breakpoint}) {
                margin: {
                    right: space(#{$size});
                    left: space(#{$size});
                }
            }
        }
        .u-#{$breakpoint}-m-#{$size} {
            @include mq(#{$breakpoint}) {
                margin: space(#{$size});
            }
        }
    }
}
