$paddingSizeList: 0, xs, sm, base, lg, xl, xxl;
$breakpointList: xxs, xs, sm, md, lg;

@each $size in $paddingSizeList {
    .u-pt-#{$size} {
        padding-top: space(#{$size});
    }
    .u-pb-#{$size} {
        padding-bottom: space(#{$size});
    }
    .u-pr-#{$size} {
        padding-right: space(#{$size});
    }
    .u-pl-#{$size} {
        padding-left: space(#{$size});
    }
    .u-py-#{$size} {
        padding: {
            top: space(#{$size});
            bottom: space(#{$size});
        }
    }
    .u-px-#{$size} {
        padding: {
            right: space(#{$size});
            left: space(#{$size});
        }
    }
    .u-p-#{$size} {
        padding: space(#{$size});
    }
}

// レスポンシブ対応あり、paddingスタイル設定
@each $size in $paddingSizeList {
    @each $breakpoint in $breakpointList {
        .u-#{$breakpoint}-pt-#{$size} {
            @include mq(#{$breakpoint}) {
                padding-top: space(#{$size});
            }
        }
        .u-#{$breakpoint}-pb-#{$size} {
            @include mq(#{$breakpoint}) {
                padding-bottom: space(#{$size});
            }
        }
        .u-#{$breakpoint}-pr-#{$size} {
            @include mq(#{$breakpoint}) {
                padding-right: space(#{$size});
            }
        }
        .u-#{$breakpoint}-pl-#{$size} {
            @include mq(#{$breakpoint}) {
                padding-left: space(#{$size});
            }
        }
        .u-#{$breakpoint}-py-#{$size} {
            @include mq(#{$breakpoint}) {
                padding: {
                    top: space(#{$size});
                    bottom: space(#{$size});
                }
            }
        }
        .u-#{$breakpoint}-px-#{$size} {
            @include mq(#{$breakpoint}) {
                padding: {
                    right: space(#{$size});
                    left: space(#{$size});
                }
            }
        }
        .u-#{$breakpoint}-p-#{$size} {
            @include mq(#{$breakpoint}) {
                padding: space(#{$size});
            }
        }
    }
}
