$textColorList: 'red', 'blue', 'green', 'gray';

@each $color in $textColorList {
    .u-tcl-#{$color} {
        color: clr(c---light-#{$color});
    }
    .u-tcd-#{$color} {
        color: clr(c---dark-#{$color});
    }
}
