.nav-tab {
    display: flex;
    margin-bottom: space(lg);
    &__item {
        width: 50%;
        display: block;
        padding: space(xs);
        color: clr(c---dark-blue);
        background-color: clr(c---bg--light-gray);
        border: 1px solid clr(c---dark-gray);
        text-align: center;
        @include mq('sm') {
            width: 25%;
        }
        &.router-link-active {
            font-weight: bold;
            color: clr(c---black);
            background-color: clr(c---white);
            border-top: 2px solid clr(c---dark-blue);
            border-bottom: 1px solid transparent;
        }
        &:hover {
            color: inherit;
            background-color: clr(c---bg--white);
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
}
