.time-table {
    width: 100%;
    &__tr {
        border-bottom: 1px solid clr(c---bg--dark-gray);
        &:first-child {
            border-top: 1px solid clr(c---bg--dark-gray);
        }
    }
    &__th {
        font-weight: normal;
        background-color: clr(c---bg--light-gray);
        text-align: left;
        padding: space(sm) space(base);
        width: 100%;
        display: block;
        border-radius: 5px;
        @include mq('xs') {
            display: table-cell;
            text-align: center;
            width: 150px;
        }
        &--start {
            color: clr(c---dark-red);
            background-color: clr(c---bg--light-red);
        }
        &--end {
            color: clr(c---dark-green);
            background-color: clr(c---bg--light-green);
        }
        &--num {
            color: clr(c---dark-yellow);
            background-color: clr(c---bg--light-yellow);
        }
    }
    &__td {
        padding: space(sm) space(base);
        display: block;
        @include mq('xs') {
            display: table-cell;
        }
    }
}
