$font-size-base: 1rem;
$sizes: (
    sm      : $font-size-base * 0.875,
    base    : $font-size-base,
    lg      : $font-size-base * 1.25,
    xl      : $font-size-base * 1.5
);

$space: 1rem;
$spaces: (
    0       : 0,
    xs      : $space * 0.25,
    sm      : $space * 0.5,
    base    : $space,
    lg      : $space * 1.5,
    xl      : $space * 3,
);

$colors: (
    c---black           :#4b4f56,
    c---white           :#ffffff,
    c---gray            :#90949c,
    c---dark-blue       :#536dfe,
    c---dark-red        :#BF3059,
    c---dark--green     :#5CA62A,
    c---bg--white       :#ffffff,
    c---bg--gray        :#e9ebee,
    c---bg--light-blue  :#EBEBFC,
    c---bg--dark-blue   :#536dfe,
    c---bg--light-red   :#FCEEEE,
    c---bg--light-green :#EAF7DC,
    c---sns--twitter    :#55acee,
    c---sns--facebook   :#3b5998,
    c---sns--instagram  :#c6529a,
);

$breakpoints: (
    xs : "screen and (min-width: 544px)",
    sm : "screen and (min-width: 768px)",
    md : "screen and (min-width: 992px)",
    lg : "screen and (min-width: 1200px)",
);
