// font-size
$font-size-base: 1rem;
$sizes: (
    sm: $font-size-base * 0.875,
    base: $font-size-base,
    lg: $font-size-base * 1.25,
    xl: $font-size-base * 1.5
);

// space
$space: 1rem;
$spaces: (
    0: 0,
    xs: $space * 0.25,
    sm: $space * 0.5,
    base: $space,
    lg: $space * 1.5,
    xl: $space * 3
);

// colors
$colors: (
    c---primary:#4b4f56,
    c---secondary:#90949c,
    c---tertiary:#536dfe,
    c---quaternary:#ffffff,
    c---quinary:#BF3059,
    c---bg--base:#ffffff,
    c---bg--sub:#e9ebee,
    c---bg--accent:#536dfe,
    c---bg--sub-accent:#FCEEEE,
    c---sns--twitter:#55acee,
    c---sns--facebook:#3b5998,
    c---sns--instagram: #c6529a,
);