.subnavbar {
    background-color: color(accent);
    .nav {
        &-link {
            font-size: fs(sm);
            color: color(base);
            &:hover {
                background-color: lighten(color(accent), 15%);
            }
        }
    }
}
