.subnavbar {
    background-color: color(c---bg--dark-blue);
    .nav {
        &-link {
            font-size: fs(sm);
            color: color(c---quaternary);
            &:hover {
                background-color: lighten(color(c---bg--dark-blue), 15%);
            }
        }
    }
}
