.btn-primary {
  color: #ffffff;
  background: #536dfe;
  border-color: #536dfe;
}

.btn-primary:hover {
  background: #072cfe;
  border-color: #072cfe;
}

.btn-primary:focus {
  background: #072cfe;
  border-color: #072cfe;
  box-shadow: 0 0 0 0.2rem #9faefe;
}

.btn-outline-primary {
  color: #536dfe;
  border-color: #536dfe;
}

.btn-outline-primary:hover {
  background: #072cfe;
  border-color: #072cfe;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #9faefe;
}

.navbar {
  padding: 0.5rem 1.2rem;
}

.navbar-light .navbar-brand {
  color: #536dfe;
  font-size: 1.5rem;
}

.navbar-light .navbar-brand:hover {
  color: #536dfe;
}

textarea {
  min-height: 150px;
}

* {
  box-sizing: border-box;
}

a {
  color: #536dfe;
}

a:hover {
  color: #072cfe;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

#app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 53px;
}

.main.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #536dfe;
  color: #fff;
}

.footer > .container {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.emphasis {
  color: #536dfe;
}

.sidebar {
  background-color: #e9ebee;
  padding: 15px;
}

.sidebar .profile-img {
  background-color: #fff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.sidebar .profile-name {
  margin-bottom: 1rem;
}

.sidebar .profile-name__user {
  font-size: 1.25rem;
}

.sidebar .profile-name__id {
  font-size: 0.875rem;
  color: #90949c;
}

.sidebar .profile-data {
  font-size: 0.875rem;
}

.sidebar .profile-data__link {
  display: block;
  padding: 5px;
  color: #4b4f56;
  border: 1px solid transparent;
}

.sidebar .profile-data__link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #f0f2f4;
  border: 1px solid #e2e4e7;
}

.subnavbar {
  background-color: #536dfe;
}

.subnavbar .nav-link {
  font-size: 0.875rem;
  color: #fff;
}

.subnavbar .nav-link:hover {
  background-color: #9faefe;
}

.prof-head {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.prof-content {
  margin-bottom: 1.5rem;
}

.prof-content__head {
  font-size: 1rem;
  color: #90949c;
  padding-bottom: 1rem;
  border-bottom: 1px solid #90949c;
  margin-bottom: 1rem;
}

.prof-content__name {
  margin-bottom: 1rem;
}

.prof-content__contact {
  margin-bottom: 1rem;
}

.prof-content__icon {
  color: #90949c;
}

.prof-content__icon.fa-twitter {
  color: #55acee;
}

.prof-content__icon.fa-instagram {
  color: #c6529a;
}

.prof-content__icon.fa-facebook-f {
  color: #3b5998;
}

