* {
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  color: #4b4f56;
}

a {
  color: #536dfe;
}

a:hover {
  color: #072cfe;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

#app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 53px;
}

.main.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #536dfe;
  color: #ffffff;
}

.footer > .container {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.copyright {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.emphasis {
  color: #536dfe;
}

.btn-primary {
  color: #ffffff;
  background: #536dfe;
  border-color: #536dfe;
}

.btn-primary:hover {
  background: #072cfe;
  border-color: #072cfe;
}

.btn-primary:focus {
  background: #072cfe;
  border-color: #072cfe;
  box-shadow: 0 0 0 0.2rem #9faefe;
}

.btn-outline-primary {
  color: #536dfe;
  border-color: #536dfe;
}

.btn-outline-primary:hover {
  background: #072cfe;
  border-color: #072cfe;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #9faefe;
}

textarea {
  min-height: 150px;
}

.navbar {
  padding: 0.5rem 1.2rem;
}

.navbar-light .navbar-brand {
  color: #536dfe;
  font-size: 1.5rem;
}

.navbar-light .navbar-brand:hover {
  color: #536dfe;
}

.auth-container {
  max-width: 400px;
  margin: 3em auto;
  padding: 2.5rem 2.5rem 1rem;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.auth-hd {
  color: #536dfe;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.auth-form__group {
  margin-bottom: 1rem;
}

.auth-form__group_btn {
  text-align: center;
  margin-top: 2.5rem;
}

.auth-form__group_checkbox {
  margin-bottom: initial;
}

.auth-form__label {
  font-size: 0.75rem;
}

.auth-form__label_checkbox {
  vertical-align: center;
}

.auth-form__input {
  display: block;
  width: 100%;
  color: #4b4f56;
  border: 2px solid #f5f5f5;
  background-color: #fafafa;
  outline: none;
  border-radius: 20px;
  padding: 0.375rem 0.75rem;
}

.auth-form__input:focus {
  border: 2px solid #ced4da;
}

.auth-form__btn {
  border-radius: 5em;
  outline: none;
  color: #ffffff;
  background: linear-gradient(to right, #536dfe, #39a2f2);
  border: 0;
  padding: 0.75rem 2.5rem;
  font-size: 0.875rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.auth-link__forgot {
  color: #39a2f2;
  font-size: 0.75rem;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
}

.ca-hd {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.ca-navTabs {
  display: flex;
  margin-bottom: 1.5rem;
}

.ca-navTabs__item {
  width: 25%;
  display: block;
  padding: 0.375rem;
  color: #536dfe;
  background-color: #fafafa;
  border: 1px solid #ced4da;
  text-align: center;
}

.ca-navTabs__item:hover {
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.ca-navTabs__item:focus {
  outline: none;
}

.ca-navTabs__item_active {
  font-weight: bold;
  color: #4b4f56;
  background-color: #ffffff;
  border-top: 2px solid #536dfe;
  border-bottom: 1px solid transparent;
}

.ca-tb {
  width: 100%;
  text-align: center;
}

.ca-tb__hd {
  background-color: #fafafa;
}

.ca-tb__thc {
  font-weight: normal;
  padding: 0.375rem;
  border: 1px solid #ced4da;
  width: 15%;
}

.ca-tb__thc:first-child {
  width: 55%;
}

.ca-tb__td {
  padding: 0.375rem;
  border: 1px solid #ced4da;
}

.ca-tb__box {
  text-align: left;
}

.ca-tb__tag_normal-red {
  font-weight: 400;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  color: #bf3059;
  background-color: #fceeee;
}

.ca-tb__tag_normal-green {
  font-weight: 400;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  color: #5ca62a;
  background-color: #eaf7dc;
}

.ca-tb__btn {
  color: #ffffff;
  background-color: #de342f;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.ca-tb__btn:hover {
  background-color: #e87471;
}

.sidebar {
  background-color: #e9ebee;
  padding: 15px;
}

.sidebar .profile-img {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.sidebar .profile-name {
  margin-bottom: 1rem;
}

.sidebar .profile-name__user {
  font-size: 1rem;
}

.sidebar .profile-name__id {
  font-size: 0.75rem;
  color: #536dfe;
}

.sidebar .profile-data {
  font-size: 0.75rem;
}

.sidebar .profile-data__link {
  display: block;
  padding: 5px;
  color: #4b4f56;
  border: 1px solid transparent;
}

.sidebar .profile-data__link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #f0f2f4;
  border: 1px solid #e2e4e7;
}

.community-content {
  padding: 1rem;
  border: 1px solid #e9ebee;
  border-radius: 5px;
}

@media screen and (min-width: 544px) {
  .community-content {
    display: flex;
  }
}

@media screen and (min-width: 544px) {
  .community-content__left {
    margin-right: 1rem;
  }
}

.community-content__right {
  flex: 1;
}

.community-name {
  font-size: 1rem;
}

.community-name__link {
  color: #536dfe;
}

.community-name__link:hover {
  text-decoration: underline;
  color: #072cfe;
}

.community-flg {
  display: inline-block;
  background-color: #536dfe;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
}

@media screen and (min-width: 992px) {
  .community-times {
    display: flex;
  }
}

.community-time {
  font-weight: bold;
}

.community-time:first-child {
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .community-time:first-child {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.community-time__tag {
  font-weight: 400;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  color: #536dfe;
  background-color: #39a2f2;
  margin-right: 0.75rem;
}

.community-time__tag--start {
  color: #bf3059;
  background-color: #fceeee;
}

.community-time__tag--end {
  color: #5ca62a;
  background-color: #eaf7dc;
}

.community-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.community-requested {
  font-size: 0.75rem;
  font-weight: bold;
}

.community-requested__num {
  font-size: 1.25rem;
  color: #536dfe;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.comm-det__hd {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.comm-det-tb {
  width: 100%;
  margin-bottom: 1.5rem;
}

.comm-det-tb__tr {
  border-bottom: 1px solid #f5f5f5;
}

.comm-det-tb__tr:first-child {
  border-top: 1px solid #f5f5f5;
}

.comm-det-tb__th {
  font-weight: normal;
  background-color: #fafafa;
  text-align: center;
  padding: 0.75rem 1rem;
  width: 100px;
}

.comm-det-tb__td {
  padding: 0.75rem 1rem;
}

.comm-det-tb__td_d-inline-block {
  display: inline-block;
}

.comm-det-tb__td_d-inline-block:first-child {
  margin-right: 0.75rem;
}

.comm-det-desc {
  margin-bottom: 1.5rem;
}

.comm-det-desc__hd {
  font-size: 1rem;
  font-weight: bold;
  color: #536dfe;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 0.75rem;
}

.comm-det-desc__hd_emphasis {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #536dfe;
}

.comm-det-rct {
  text-align: center;
}

.comm-det-rct__btn {
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.comm-det-rct__btn_disabled {
  background-color: #9faefe;
}

.comm-det-rct__btn_active {
  background-color: #536dfe;
}

.comm-det-rct__btn_active:hover {
  background-color: #072cfe;
}

.subnavbar {
  background-color: #536dfe;
}

.subnavbar .nav-link {
  font-size: 0.75rem;
  color: #ffffff;
}

.subnavbar .nav-link:hover {
  background-color: #9faefe;
}

.prof-head {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.prof-content {
  margin-bottom: 1.5rem;
}

.prof-content__head {
  font-size: 0.875rem;
  color: #ced4da;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 1rem;
}

.prof-content__name {
  margin-bottom: 1rem;
}

.prof-content__contact {
  margin-bottom: 1rem;
}

.prof-content__icon {
  color: #ced4da;
}

.prof-content__icon.fa-twitter {
  color: #55acee;
}

.prof-content__icon.fa-instagram {
  color: #c6529a;
}

.prof-content__icon.fa-facebook-f {
  color: #3b5998;
}

