.page-tit {
  border-left: 3px solid #4b4f56;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  color: #4b4f56;
}

a {
  color: #4b4f56;
}

a:hover {
  color: #4b4f56;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

#app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 53px;
}

.main.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #536dfe;
  color: #fff;
}

.emphasis {
  color: #536dfe;
}

.c-badge-xs {
  display: inline-block;
  padding: 0.375rem;
  border-radius: 5px;
}

.c-badge-sm {
  display: inline-block;
  padding: 0.75rem;
  border-radius: 5px;
}

.c-badge-base {
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
}

.c-badge-lg {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 5px;
}

.c-badge-blue {
  color: #fff;
  background-color: #536dfe;
}

.c-badge-green {
  color: #fff;
  background-color: #81d14b;
}

.c-badge-red {
  color: #fff;
  background-color: #de342f;
}

.c-icon-xs {
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 25px;
}

.c-icon-sm {
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
}

.c-icon-base {
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
}

.c-icon-lg {
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}

.c-tag-sm {
  display: inline-block;
  font-weight: 400;
  border-radius: 5px;
  font-size: 0.5rem;
  padding: 0.375rem 0.75rem;
}

.c-tag-normal {
  display: inline-block;
  font-weight: 400;
  border-radius: 5px;
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
}

.c-tag-lg {
  display: inline-block;
  font-weight: 400;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 1rem 1.5rem;
}

.c-tag-red {
  color: #bf3059;
  background-color: #fceeee;
}

.c-tag-blue {
  color: #536dfe;
  background-color: #39a2f2;
}

.c-tag-green {
  color: #5ca62a;
  background-color: #eaf7dc;
}

.u-d-block {
  display: block;
}

.u-d-inline-block {
  display: inline-block;
}

.u-d-flex {
  display: flex;
}

.u-d-none {
  display: none;
}

@media screen and (min-width: 544px) {
  .u-xs-d-block {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-d-block {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .u-md-d-block {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-d-block {
    display: block;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-d-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-d-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .u-md-d-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-d-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-d-flex {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-d-flex {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .u-md-d-flex {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-d-flex {
    display: flex;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-d-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-d-none {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .u-md-d-none {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-d-none {
    display: none;
  }
}

.u-fs-xs {
  font-size: 0.5rem;
}

.u-fs-sm {
  font-size: 0.75rem;
}

.u-fs-base {
  font-size: 0.875rem;
}

.u-fs-lg {
  font-size: 1rem;
}

.u-fs-xl {
  font-size: 1.25rem;
}

.u-fs-xxl {
  font-size: 1.5rem;
}

.u-fw-thin {
  font-weight: 200;
}

.u-fw-normal {
  font-weight: 400;
}

.u-fw-bold {
  font-weight: 600;
}

.u-mt-no {
  margin-top: 0;
}

.u-mb-no {
  margin-bottom: 0;
}

.u-mr-no {
  margin-right: 0;
}

.u-ml-no {
  margin-left: 0;
}

.u-my-no {
  margin-top: 0;
  margin-bottom: 0;
}

.u-mx-no {
  margin-right: 0;
  margin-left: 0;
}

.u-m-no {
  margin: 0;
}

.u-mt-xs {
  margin-top: 0.375rem;
}

.u-mb-xs {
  margin-bottom: 0.375rem;
}

.u-mr-xs {
  margin-right: 0.375rem;
}

.u-ml-xs {
  margin-left: 0.375rem;
}

.u-my-xs {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.u-mx-xs {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
}

.u-m-xs {
  margin: 0.375rem;
}

.u-mt-sm {
  margin-top: 0.75rem;
}

.u-mb-sm {
  margin-bottom: 0.75rem;
}

.u-mr-sm {
  margin-right: 0.75rem;
}

.u-ml-sm {
  margin-left: 0.75rem;
}

.u-my-sm {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.u-mx-sm {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.u-m-sm {
  margin: 0.75rem;
}

.u-mt-base {
  margin-top: 1rem;
}

.u-mb-base {
  margin-bottom: 1rem;
}

.u-mr-base {
  margin-right: 1rem;
}

.u-ml-base {
  margin-left: 1rem;
}

.u-my-base {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-mx-base {
  margin-right: 1rem;
  margin-left: 1rem;
}

.u-m-base {
  margin: 1rem;
}

.u-mt-lg {
  margin-top: 1.5rem;
}

.u-mb-lg {
  margin-bottom: 1.5rem;
}

.u-mr-lg {
  margin-right: 1.5rem;
}

.u-ml-lg {
  margin-left: 1.5rem;
}

.u-my-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.u-mx-lg {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.u-m-lg {
  margin: 1.5rem;
}

.u-mt-xl {
  margin-top: 2.5rem;
}

.u-mb-xl {
  margin-bottom: 2.5rem;
}

.u-mr-xl {
  margin-right: 2.5rem;
}

.u-ml-xl {
  margin-left: 2.5rem;
}

.u-my-xl {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.u-mx-xl {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.u-m-xl {
  margin: 2.5rem;
}

.u-mt-xxl {
  margin-top: 3.5rem;
}

.u-mb-xxl {
  margin-bottom: 3.5rem;
}

.u-mr-xxl {
  margin-right: 3.5rem;
}

.u-ml-xxl {
  margin-left: 3.5rem;
}

.u-my-xxl {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.u-mx-xxl {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.u-m-xxl {
  margin: 3.5rem;
}

@media screen and (min-width: 544px) {
  .u-xs-mt-no {
    margin-top: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-no {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-no {
    margin-right: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-no {
    margin-left: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-no {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-no {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-no {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-no {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-no {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-no {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-no {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-no {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-no {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-no {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-no {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-no {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-no {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-no {
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-no {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-no {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-no {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-no {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-no {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-no {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-no {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-no {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-no {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-no {
    margin: 0;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mt-xs {
    margin-top: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-xs {
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-xs {
    margin-right: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-xs {
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-xs {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-xs {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-xs {
    margin: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-xs {
    margin-top: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-xs {
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-xs {
    margin-right: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-xs {
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-xs {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-xs {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-xs {
    margin: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-xs {
    margin-top: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-xs {
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-xs {
    margin-right: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-xs {
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-xs {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-xs {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-xs {
    margin: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-xs {
    margin-top: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-xs {
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-xs {
    margin-right: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-xs {
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-xs {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-xs {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-xs {
    margin: 0.375rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mt-sm {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-sm {
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-sm {
    margin-right: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-sm {
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-sm {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-sm {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-sm {
    margin: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-sm {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-sm {
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-sm {
    margin-right: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-sm {
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-sm {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-sm {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-sm {
    margin: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-sm {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-sm {
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-sm {
    margin-right: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-sm {
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-sm {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-sm {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-sm {
    margin: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-sm {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-sm {
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-sm {
    margin-right: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-sm {
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-sm {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-sm {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-sm {
    margin: 0.75rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mt-base {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-base {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-base {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-base {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-base {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-base {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-base {
    margin: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-base {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-base {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-base {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-base {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-base {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-base {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-base {
    margin: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-base {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-base {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-base {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-base {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-base {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-base {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-base {
    margin: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-base {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-base {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-base {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-base {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-base {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-base {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-base {
    margin: 1rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mt-lg {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-lg {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-lg {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-lg {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-lg {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-lg {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-lg {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-lg {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-lg {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-lg {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-lg {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-lg {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-lg {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-lg {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-lg {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-lg {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-lg {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-lg {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-lg {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-lg {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-lg {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-lg {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-lg {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-lg {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mt-xl {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-xl {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-xl {
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-xl {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-xl {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-xl {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-xl {
    margin: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-xl {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-xl {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-xl {
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-xl {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-xl {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-xl {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-xl {
    margin: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-xl {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-xl {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-xl {
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-xl {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-xl {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-xl {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-xl {
    margin: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-xl {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-xl {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-xl {
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-xl {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-xl {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-xl {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-xl {
    margin: 2.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mt-xxl {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mb-xxl {
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mr-xxl {
    margin-right: 3.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-ml-xxl {
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-my-xxl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-mx-xxl {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 544px) {
  .u-xs-m-xxl {
    margin: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mt-xxl {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mb-xxl {
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mr-xxl {
    margin-right: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-ml-xxl {
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-my-xxl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-mx-xxl {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .u-sm-m-xxl {
    margin: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mt-xxl {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mb-xxl {
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mr-xxl {
    margin-right: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-ml-xxl {
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-my-xxl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-mx-xxl {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .u-md-m-xxl {
    margin: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mt-xxl {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mb-xxl {
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mr-xxl {
    margin-right: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-ml-xxl {
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-my-xxl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-mx-xxl {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-lg-m-xxl {
    margin: 3.5rem;
  }
}

.u-pt-xs {
  padding-top: 0.375rem;
}

.u-pb-xs {
  padding-bottom: 0.375rem;
}

.u-pr-xs {
  padding-right: 0.375rem;
}

.u-pl-xs {
  padding-left: 0.375rem;
}

.u-py-xs {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.u-px-xs {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.u-p-xs {
  padding: 0.375rem;
}

.u-pt-sm {
  padding-top: 0.75rem;
}

.u-pb-sm {
  padding-bottom: 0.75rem;
}

.u-pr-sm {
  padding-right: 0.75rem;
}

.u-pl-sm {
  padding-left: 0.75rem;
}

.u-py-sm {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.u-px-sm {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.u-p-sm {
  padding: 0.75rem;
}

.u-pt-base {
  padding-top: 1rem;
}

.u-pb-base {
  padding-bottom: 1rem;
}

.u-pr-base {
  padding-right: 1rem;
}

.u-pl-base {
  padding-left: 1rem;
}

.u-py-base {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-px-base {
  padding-right: 1rem;
  padding-left: 1rem;
}

.u-p-base {
  padding: 1rem;
}

.u-pt-lg {
  padding-top: 1.5rem;
}

.u-pb-lg {
  padding-bottom: 1.5rem;
}

.u-pr-lg {
  padding-right: 1.5rem;
}

.u-pl-lg {
  padding-left: 1.5rem;
}

.u-py-lg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-px-lg {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.u-p-lg {
  padding: 1.5rem;
}

.u-pt-xl {
  padding-top: 2.5rem;
}

.u-pb-xl {
  padding-bottom: 2.5rem;
}

.u-pr-xl {
  padding-right: 2.5rem;
}

.u-pl-xl {
  padding-left: 2.5rem;
}

.u-py-xl {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.u-px-xl {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.u-p-xl {
  padding: 2.5rem;
}

.u-pt-xxl {
  padding-top: 3.5rem;
}

.u-pb-xxl {
  padding-bottom: 3.5rem;
}

.u-pr-xxl {
  padding-right: 3.5rem;
}

.u-pl-xxl {
  padding-left: 3.5rem;
}

.u-py-xxl {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.u-px-xxl {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.u-p-xxl {
  padding: 3.5rem;
}

.u-ta-left {
  text-align: left;
}

.u-ta-center {
  text-align: center;
}

.u-ta-right {
  text-align: right;
}

.btn-primary {
  color: #fff;
  background: #536dfe;
  border-color: #536dfe;
}

.btn-primary:hover {
  background: #072cfe;
  border-color: #072cfe;
}

.btn-primary:focus {
  background: #072cfe;
  border-color: #072cfe;
  box-shadow: 0 0 0 0.2rem #9faefe;
}

.btn-outline-primary {
  color: #536dfe;
  border-color: #536dfe;
}

.btn-outline-primary:hover {
  background: #072cfe;
  border-color: #072cfe;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #9faefe;
}

textarea {
  min-height: 150px;
}

.navbar {
  padding: 0.5rem 1.2rem;
}

.navbar-light .navbar-brand {
  color: #536dfe;
  font-size: 1.5rem;
}

.navbar-light .navbar-brand:hover {
  color: #536dfe;
}

.auth-container {
  max-width: 400px;
  margin: 3em auto;
  padding: 2.5rem 2.5rem 1rem;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.auth-hd {
  color: #536dfe;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.auth-form__group {
  margin-bottom: 1rem;
}

.auth-form__group_btn {
  text-align: center;
  margin-top: 2.5rem;
}

.auth-form__group_checkbox {
  margin-bottom: initial;
}

.auth-form__label {
  font-size: 0.75rem;
}

.auth-form__label_checkbox {
  vertical-align: center;
}

.auth-form__input {
  display: block;
  width: 100%;
  color: #4b4f56;
  border: 2px solid #f5f5f5;
  background-color: #fafafa;
  outline: none;
  border-radius: 20px;
  padding: 0.375rem 0.75rem;
}

.auth-form__input:focus {
  border: 2px solid #ced4da;
}

.auth-form__btn {
  border-radius: 5em;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #536dfe, #39a2f2);
  border: 0;
  padding: 0.75rem 2.5rem;
  font-size: 0.875rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.auth-link__forgot {
  color: #39a2f2;
  font-size: 0.75rem;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
}

.community-content {
  padding: 1rem;
  border: 1px solid #e9ebee;
  border-radius: 5px;
}

.community-content:hover {
  background-color: #f8fcff;
}

.community-content__right {
  flex: 1;
}

.community-name {
  color: #536dfe;
}

.community-flg {
  display: inline-block;
  background-color: #536dfe;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
}

.community-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.community-requested__num {
  color: #536dfe;
}

.community-created-user__link {
  color: #536dfe;
  text-decoration: underline;
}

.community-created-user__link:hover {
  color: #536dfe;
  text-decoration: underline;
}

.comm-det__hd {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.comm-det__hd_emphasis {
  color: #536dfe;
  margin-left: 0.75rem;
}

.comm-det-tb {
  width: 100%;
  margin-bottom: 1.5rem;
}

.comm-det-tb__tr {
  border-bottom: 1px solid #f5f5f5;
}

.comm-det-tb__tr:first-child {
  border-top: 1px solid #f5f5f5;
}

.comm-det-tb__th {
  font-weight: normal;
  background-color: #fafafa;
  text-align: center;
  padding: 0.75rem 1rem;
  width: 100px;
}

.comm-det-tb__td {
  padding: 0.75rem 1rem;
}

.comm-det-tb__td_d-inline-block {
  display: inline-block;
}

.comm-det-tb__td_d-inline-block:first-child {
  margin-right: 0.75rem;
}

.comm-det-desc {
  margin-bottom: 1.5rem;
}

.comm-det-desc__hd {
  font-size: 1rem;
  font-weight: bold;
  color: #536dfe;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 0.75rem;
}

.comm-det-desc__hd_emphasis {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #536dfe;
}

.comm-det-rct {
  text-align: center;
}

.comm-det-rct__btn {
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.comm-det-rct__btn_disabled {
  background-color: #9faefe;
}

.comm-det-rct__btn_active {
  background-color: #536dfe;
}

.comm-det-rct__btn_active:hover {
  background-color: #072cfe;
}

.created-user__hd {
  font-size: 1rem;
  font-weight: bold;
  color: #536dfe;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 0.75rem;
}

.created-user__hd_emphasis {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #536dfe;
}

.created-user-card {
  border: 1px solid #f5f5f5;
  background-color: #e9ebee;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.created-user-card__link {
  text-decoration: none;
  color: #4b4f56;
}

@media screen and (min-width: 544px) {
  .created-user-card__row {
    display: flex;
  }
}

.created-user-card__img {
  width: 80px;
  margin-right: 0.75rem;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

@media screen and (min-width: 544px) {
  .created-user-card__img {
    flex-shrink: 0;
  }
}

.created-user-card__name {
  font-size: 1rem;
  font-weight: bold;
}

.created-user-card__cmt {
  text-align: justify;
}

.applied-user-tb {
  width: 100%;
}

.applied-user-tb__hd {
  color: #fff;
  background: #536dfe;
}

.applied-user-tb__bd > .applied-user-tb__tr:hover {
  background-color: #e9ebee;
}

.applied-user-tb__thc {
  font-weight: normal;
  padding: 0.375rem;
  border: 1px solid #536dfe;
}

.applied-user-tb__td {
  padding: 0.375rem;
  border-bottom: 1px solid #ced4da;
  line-height: 31px;
}

.applied-user-tb__img {
  width: 30px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.75rem;
}

.ca-navTabs {
  display: flex;
  margin-bottom: 1.5rem;
}

.ca-navTabs__item {
  width: 25%;
  display: block;
  padding: 0.375rem;
  color: #536dfe;
  background-color: #fafafa;
  border: 1px solid #ced4da;
  text-align: center;
}

.ca-navTabs__item:hover {
  color: inherit;
  background-color: #fff;
  text-decoration: none;
}

.ca-navTabs__item:focus {
  outline: none;
}

.ca-navTabs__item_active {
  font-weight: bold;
  color: #4b4f56;
  background-color: #fff;
  border-top: 2px solid #536dfe;
  border-bottom: 1px solid transparent;
}

.ca-tb {
  width: 100%;
  text-align: center;
}

.ca-tb__hd {
  background-color: #fafafa;
}

.ca-tb__thc {
  font-weight: normal;
  padding: 0.375rem;
  border: 1px solid #ced4da;
  width: 15%;
}

.ca-tb__thc:first-child {
  width: 55%;
}

.ca-tb__td {
  padding: 0.375rem;
  border: 1px solid #ced4da;
}

.ca-tb__box {
  text-align: left;
}

.ca-tb__tag_normal-red {
  font-weight: 400;
  border-radius: 5px;
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
  color: #bf3059;
  background-color: #fceeee;
}

.ca-tb__tag_normal-green {
  font-weight: 400;
  border-radius: 5px;
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
  color: #5ca62a;
  background-color: #eaf7dc;
}

.ca-tb__btn {
  color: #fff;
  background-color: #de342f;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.ca-tb__btn:hover {
  background-color: #e87471;
}

.select-user__hd {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.select-user-list {
  list-style: none;
}

.select-user-list__label {
  position: relative;
  cursor: pointer;
}

.select-user-list__input {
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.select-user-list__input:before {
  position: absolute;
  z-index: 1;
  top: 0.125rem;
  left: 0.1875rem;
  width: 0.75rem;
  height: 0.375rem;
  content: "";
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: rotate(-45deg) scale(0, 0);
  border: 2px solid #da3c41;
  border-top-style: none;
  border-right-style: none;
}

.select-user-list__input:after {
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  content: "";
  cursor: pointer;
  border: 2px solid #f2f2f2;
  background: #fff;
}

.select-user-list__input:checked:before {
  transform: rotate(-45deg) scale(1, 1);
}

.select-user__btn {
  padding: 0.375rem 0.75rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.25rem;
  display: inline-block;
  color: #fff;
  background-color: #81d14b;
  border: 1px solid #81d14b;
}

.select-user__btn:focus {
  outline: none;
}

.select-user__btn:hover {
  background-color: #ace188;
  border: 1px solid transparent;
}

.select-user__btn_disabled {
  background-color: #ace188;
  border: 1px solid #ace188;
}

.msg-sec {
  border: 1px solid #e9ebee;
  border-radius: 5px;
}

.msg-sec:hover {
  background-color: #f8fcff;
}

.msg-sec__tit {
  color: #536dfe;
}

.chat-tit {
  border-left: 3px solid #4b4f56;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.chat-container {
  border: 1px solid #e9ebee;
  border-radius: 5px;
}

.chat-content {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e9ebee;
}

.chat-content__prof-icon {
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  border: 1px solid #e9ebee;
}

.chat-content__box {
  width: 100%;
}

.chat-content__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-content__usr-name {
  font-size: 0.875rem;
}

.chat-content__date {
  font-size: 0.75rem;
  color: #ced4da;
}

.chat-form {
  width: 100%;
}

.chat-form__textarea {
  display: block;
  width: 100%;
  border: 1px solid #e9ebee;
  border-radius: 5px;
}

.chat-form__textarea:focus {
  outline: 2px solid #536dfe;
}

.chat-form__btn {
  padding: 0.375rem 0.75rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.25rem;
  display: inline-block;
  color: #fff;
  background-color: #81d14b;
  border: 1px solid #81d14b;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.chat-form__btn:focus {
  outline: none;
}

.chat-form__btn:hover {
  background-color: #ace188;
  border: 1px solid transparent;
}

.chat-form__btn_outer {
  text-align: center;
}

.prof-tit {
  border-left: 3px solid #4b4f56;
  padding-left: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.prof-tit__icon {
  margin-right: 1rem;
}

.prof-content {
  margin-bottom: 1.5rem;
}

.prof-content__head {
  font-size: 0.875rem;
  color: #ced4da;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 1rem;
}

.prof-content__name {
  margin-bottom: 1rem;
}

.prof-content__contact {
  margin-bottom: 1rem;
}

.prof-content__icon {
  color: #ced4da;
}

.prof-content__icon.fa-twitter {
  color: #55acee;
}

.prof-content__icon.fa-instagram {
  color: #c6529a;
}

.prof-content__icon.fa-facebook-f {
  color: #3b5998;
}

.sidebar {
  background-color: #e9ebee;
  padding: 15px;
}

.sidebar .profile-img {
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.sidebar .profile-name {
  margin-bottom: 1rem;
}

.sidebar .profile-name__user {
  font-size: 1rem;
}

.sidebar .profile-name__id {
  font-size: 0.75rem;
  color: #536dfe;
}

.sidebar .profile-data {
  font-size: 0.75rem;
}

.sidebar .profile-data__link {
  display: block;
  padding: 5px;
  color: #4b4f56;
  border: 1px solid transparent;
}

.sidebar .profile-data__link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #f0f2f4;
  border: 1px solid #e2e4e7;
}

.subnavbar {
  background-color: #536dfe;
}

.subnavbar .nav-link {
  font-size: 0.75rem;
  color: #fff;
}

.subnavbar .nav-link:hover {
  background-color: #9faefe;
}

