$initSize: 'normal';
$initColor: 'blue';
@mixin _tag($size: $initSize, $color: $initColor) {
    font-weight: 400;
    border-radius: 5px;

    @if ($size == 'small') {
        font-size: fs(xs);
        padding: space(xs) space(sm);
    }
    @if ($size == 'normal') {
        font-size: fs(sm);
        padding: space(xs) space(sm);
    }
    @if ($size == 'large') {
        font-size: fs(base);
        padding: space(sm) space(base);
    }
    @if ($color == 'blue') {
        color: clr(c---dark-blue);
        background-color: clr(c---bg--light-blue);
    }
    @if ($color == 'red') {
        color: clr(c---dark-red);
        background-color: clr(c---bg--light-red);
    }
    @if ($color == 'green') {
        color: clr(c---dark-green);
        background-color: clr(c---bg--light-green);
    }
}
