.community-content {
    padding: space(base);
    border: 1px solid clr(c---bg--gray);
    border-radius: 5px;
    @include mq("xs") {
        display: flex;
    }
    &__left {
        @include mq("xs") {
            margin-right: space(base);
        }
    }
    &__right {
        flex: 1;
    }
}

.community-name {
    font-size: fs(lg);
    &__link {
        color: clr(c---dark-blue);
        &:hover {
            text-decoration: underline;
            color: darken(clr(c---dark-blue), 15%);
        }
    }
}

.community-flg {
    display: inline-block;
    background-color: clr(c---bg--dark-blue);
    color: clr(c---white);
    padding: space(sm) space(base);
    border-radius: 5px;
}

.community-times {
    @include mq("md") {
        display: flex;
    }
}

.community-time {
    font-weight: bold;
    &:first-child {
        margin-bottom: space(base);
        @include mq("md") {
            margin: {
                bottom: 0;
                right: space(base);
            }
        }
    }
    &__tag {
        @include _tag;
        margin-right: space(sm);
        &--start {
            color: clr(c---dark-red);
            background-color: clr(c---bg--light-red);
        }
        &--end {
            color: clr(c---dark--green);
            background-color: clr(c---bg--light-green);
        }
    }
}

.community-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.community-requested {
    font-size: fs(sm);
    font-weight: bold;
    &__num {
        font-size: fs(xl);
        color: clr(c---dark-blue);
        margin: {
            right: space(sm);
            left: space(sm);
        }
    }
}
