.community-content {
  padding:space(base);
  border:1px solid color(c---bg--gray);
  border-radius:5px;
  @include mq('xs') {
    display: flex;
  }
  &__link {
    color:color(c---primary);
    &:hover {
      color:inherit;
      text-decoration: none;
    }
  }
  &__left {
    @include mq('xs') {
      margin-right:space(base);
    }
  }
  &__right {
    flex:1;
  }
}

.community-name {
  font-size:fs(lg);
  color:color(c---tertiary);
  &:hover {
    text-decoration: underline;
    color:darken(color(c---tertiary), 15%);
  }
}

.community-flg {
  display:inline-block;
  background-color: color(c---bg--dark-blue);
  color:color(c---quaternary);
  padding:space(sm) space(base);
  border-radius:5px;
}

.community-times {
  @include mq('md') {
    display: flex;
  }
}

.community-time {
  font-weight:bold;
  &:first-child {
    margin-bottom:space(base);
    @include mq('md') {
      margin: {
        bottom:0;
        right:space(base);
      }
    }
  }
  &__head {
    font-weight:400;
    padding:space(xs) space(sm);
    font-size:fs(sm);
    border-radius:5px;
    margin-right:space(sm);
    &--start {
      color:color(c---quinary);
      background-color: color(c---bg--light-red);
    }
    &--end {
      color:color(c---tertiary);
      background-color: color(c---bg--light-blue);
    }
  }
}

.community-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.community-requested {
  font-size:fs(sm);
  font-weight:bold;
  &__num {
    font-size:fs(xl);
    color:color(c---tertiary);
    margin: {
      right:space(sm);
      left:space(sm);
    }
  }
}