.comm-det__hd {
  font-size:fs(xl);
  margin-bottom:space(lg);
}

.comm-det-tb {
  width:100%;
  margin-bottom:space(lg);
  &__tr {
    border-bottom:1px solid clr(c---light-gray);
    &:first-child {
      border-top:1px solid clr(c---light-gray);
    }
  }
  &__th {
    font-weight:normal;
    background-color: clr(c---bg--light-gray);
    text-align: center;
    padding:space(sm) space(base);
    width:100px;
  }
  &__td {
    padding:space(sm) space(base);
    &_d-inline-block {
      display: inline-block;
      &:first-child {
        margin-right: space(sm);
      }
    }
  }
}

.comm-det-desc {
  margin-bottom:space(lg);
  &__hd {
    font-size:fs(lg);
    font-weight:bold;
    color:clr(c---dark-blue);
    border-bottom: 1px solid clr(c---light-gray);
    padding-bottom: space(sm);
    &_emphasis {
      padding-bottom: space(sm);
      border-bottom:2px solid clr(c---dark-blue);
    }
  }
}

.comm-det-rct {
  text-align: center;
  &__btn {
    color:clr(c---white);
    border:none;
    border-radius:.25rem;
    padding:space(sm) space(base);
    &_disabled {
        background-color:lighten(clr(c---bg--dark-blue), 15%);
    }
    &_active {
        background-color: clr(c---bg--dark-blue);
        &:hover {
          background-color:darken(clr(c---bg--dark-blue), 15%);
        }
    }
  }
}