.settings-sidebar {
    border-radius: 5px;
    border: 1px solid clr(c---bg--gray);
}

.settings-prof {
    padding: space(sm) space(base);
    display: flex;
    align-items: center;
    border-bottom: 1px solid clr(c---bg--gray);
    &__img {
        flex-shrink: 0;
    }
}

.settings-menu {
    list-style: none;
}

.settings-item {
    border-bottom: 1px solid clr(c---bg--gray);
    &:last-of-type {
        border-bottom: none;
    }
    &__link {
        display: block;
        padding: space(sm) space(base);
        height: 100%;
        width: 100%;
        &:hover {
            background-color: clr(c---bg--light-gray);
        }
    }
}
