// TODO blueの背景カラー濃すぎるから修正
$alertColorList: 'red', 'blue', 'green', 'yellow', 'gray';

@each $color in $alertColorList {
    .c-alert-#{$color} {
        display: block;
        border-radius: 5px;
        padding: space(sm) space(base);
        color: clr(c---dark-#{$color});
        background-color: clr(c---bg--light-#{$color});
        border: 1px solid clr(c---bg--dark-#{$color});
    }
}
