$btnColorList: 'red', 'blue', 'green';

@each $color in $btnColorList {
    .c-btn-#{$color} {
        color: clr(c---white);
        padding: 0.375rem 0.75rem;
        text-align: center;
        user-select: none;
        border-radius: 0.25rem;
        background-color: clr(c---bg--dark-#{$color});
        border: clr(c---bg--dark-#{$color});
        &:hover {
            background-color: lighten(clr(c---bg--dark-#{$color}), 5%);
            border: lighten(clr(c---bg--dark-#{$color}), 5%);
        }
        &:focus {
            outline: none;
        }
    }
}
