$linkColorList: 'red', 'blue', 'green';

@each $color in $linkColorList {
    .c-link-#{$color} {
        color: clr(c---dark-#{$color});
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: lighten(clr(c---dark-#{$color}), 15%);
        }
    }
}
