.msg-sec {
    border: 1px solid clr(c---bg--gray);
    border-radius: 5px;
    &:hover {
        background-color: lighten(clr(c---bg--light-blue), 40%);
    }
    &__tit {
        color: clr(c---dark-blue);
    }
}
