.chat-tit {
    border-left: 3px solid clr(c---black);
    padding-left: space(base);
    font-size: fs(xxl);
    font-weight: fw(bold);
}

.chat-container {
    border: 1px solid clr(c---bg--gray);
    border-radius: 5px;
}

.chat-content {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid clr(c---bg--gray);
    &__prof-icon {
        @include _user-icon('normal');
        border: 1px solid clr(c---bg--gray);
    }
    &__box {
        width: 100%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__usr-name {
        font-size: fs(base);
    }
    &__date {
        font-size: fs(sm);
        color: clr(c---dark-gray);
    }
}

.chat-form {
    width: 100%;
    &__textarea {
        display: block;
        width: 100%;
        border: 1px solid clr(c---bg--gray);
        border-radius: 5px;
        &:focus {
            outline: 2px solid clr(c---bg--dark-blue);
        }
    }
    &__btn {
        @include _btn('inline-block', 'green');
        padding-left: space(xxl);
        padding-right: space(xxl);
        &_outer {
            text-align: center;
        }
    }
}
