.auth-container {
    max-width: 400px;
    margin: 3em auto;
    padding: space(xl) space(xl) space(base);
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.auth-hd {
    color: clr(c---dark-blue);
    font-weight: bold;
    font-size: fs(xxl);
    text-align: center;
    margin-bottom: space(base);
}

.auth-form {
    &__group {
        margin-bottom: space(base);
        &_btn {
            text-align: center;
            margin-top: space(xl);
        }
        &_checkbox {
            margin-bottom: initial;
        }
    }
    &__label {
        font-size: fs(sm);
        &_checkbox {
            vertical-align: center;
        }
    }
    &__invalid {
        font-size: fs(sm);
        color: clr(c---dark-red);
    }
    &__input {
        display: block;
        width: 100%;
        color: clr(c---black);
        border: 2px solid clr(c---light-gray);
        background-color: clr(c---bg--light-gray);
        outline: none;
        border-radius: 20px;
        padding: space(xs) space(sm);
        &:focus {
            border: 2px solid clr(c---dark-gray);
        }
    }
    &__btn {
        border-radius: 5em;
        outline: none;
        color: clr(c---white);
        background: linear-gradient(to right, clr(c---bg--dark-blue), clr(c---bg--light-blue));
        border: 0;
        padding: space(sm) space(xl);
        font-size: fs(base);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        &:focus {
            outline: none;
        }
    }
}

.auth-link {
    &__forgot {
        color: clr(c---light-blue);
        font-size: fs(sm);
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    }
}
