.prof-head {
    font-size: fs(lg);
    margin-bottom: space(lg);
}

.prof-content {
    margin-bottom: space(lg);
    &__head {
        font-size: fs(base);
        color: clr(c---gray);
        padding-bottom: space(base);
        border-bottom: 1px solid clr(c---gray);
        margin-bottom: space(base);
    }
    &__name {
        margin-bottom: space(base);
    }
    &__contact {
        margin-bottom: space(base);
    }
    &__icon {
        color: clr(c---gray);
        &.fa-twitter {
            color: clr(c---sns--twitter);
        }
        &.fa-instagram {
            color: clr(c---sns--instagram);
        }
        &.fa-facebook-f {
            color: clr(c---sns--facebook);
        }
    }
}
